<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.ants.db.mapper.ProjectMapper">
    <sql id="projectColumn">
        project.id AS project_id,
        project.name AS project_name,
        project.description AS project_description
    </sql>

    <resultMap id="ProjectWithUsersEntityMap" type="com.example.ants.model.entity.ProjectWithUsersEntity">
        <id column="project_id"/>
        <association property="project" autoMapping="true" columnPrefix="project_"
                     javaType="com.example.ants.db.entity.Project"/>
        <collection property="users" ofType="com.example.ants.db.entity.User"
                    autoMapping="true" columnPrefix="user_">
        </collection>
    </resultMap>

    <select id="selectAllProjectWithUsersByUserId" resultMap="ProjectWithUsersEntityMap">
        SELECT
            <include refid="projectColumn"/>,
            <include refid="com.example.ants.db.mapper.UserMapper.userColumn"/>
        FROM
            (SELECT
                *
            FROM project
            LEFT JOIN
                r_user_project
                    ON project.id = r_user_project.project_id
                <where>
                    r_user_project.user_id = #{userId}
                </where>
            ) project
        LEFT JOIN
            r_user_project
                ON project.id = r_user_project.project_id
        LEFT JOIN
            user
                ON user.id = r_user_project.user_id
    </select>

</mapper>